:root {
  --aqua: #a9c7c3;
  --turquoise: #4d6663;
  --coral: #e07069;
  --btn-hover: #e2554b;
  --ivory: #f1efe8;
  --green: #4daa59;
}

* {
  box-sizing: border-box;
  background-color: transparent;
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#reset-btn {
  margin: auto;
  background-color: var(--coral);
  color: white;
  font-weight: 700;
  padding: 15px 10px;
  border: none;
  border-radius: 10%;
  margin-bottom: 20px;
}

#reset-btn:hover {
  background-color: var(--btn-hover);
  color: white;
}
