:root {
  --aqua: #a9c7c3;
  --turquoise: #4d6663;
  --coral: #e07069;
  --btn-hover: #e2554b;
  --ivory: #f1efe8;
  --green: #4daa59;
}

* {
  box-sizing: border-box;
  /* border: 1px solid #000000; */
}

body {
  margin: 0;
  /* background image properties */
  background-image: linear-gradient(to bottom, var(--ivory), #f1efe88c),
    url("https://images.unsplash.com/photo-1575223970966-76ae61ee7838?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-color: var(--ivory);
}

/* NAVBAR styles */
.header {
  min-height: 5vh;
}

#nav-bar-bg {
  background-color: var(--aqua);
  background-color: var(--turquoise);
  background-image: linear-gradient(
    319deg,
    var(--aqua) 0%,
    var(--ivory) 37%,
    var(--turquoise) 100%
  );
}

#navbar-logo,
#burger {
  max-height: 60px;
}

/* LANDING Page Styles */
.main {
  display: flex;
}

#introduction {
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
  background-color: var(--ivory);
  padding: 20px;
  border-radius: 4px;
}

#landing-quote-container {
  padding-bottom: 20px;
}

#landing-quote {
  font-family: "Bad Script", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: var(--btn-hover);
}

.landing-description {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

#start-btn,
.view-object-btn {
  margin: auto;
  background-color: var(--coral);
  color: white;
  font-weight: 700;
  width: 40%;
}

#start-btn:hover,
.view-object-btn:hover {
  background-color: var(--btn-hover);
  color: white;
}

#bad-search {
  font-size: 100px;
  color: #e2554b;
}

/* CARDS Styles */
.paint-card,
.object-card {
  width: 18rem;
  height: 25rem;
  /* height: 40vh; */
  border: 1px solid #a3a3a3;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #d4d4d4;
  background-color: #fffff080;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.paint-card:hover {
  transform: scale(1.1);
  border: 2px solid gold;
  cursor: pointer;
}

#object-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.view-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

/* GALLERY TRIAL */
#pic-container {
  width: 100vw;
  height: 100vh;
}

.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  border: 5px black solid;
}

#draggable,
#draggable2 {
  margin-bottom: 20px;
}

#draggable {
  cursor: n-resize;
}
#draggable2 {
  cursor: e-resize;
}
#containment-wrapper {
  width: 95%;
  height: 100vh;
  border: 2px solid #ccc;
  padding: 10px;
}

/* Adjust background image responsiveness */
@media only screen and (max-width: 768px) {
  body {
    height: auto;
  }
}
